body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #14bdac;

  }
  *{
    box-sizing: border-box;
  }
  ol, ul {
    padding-left: 30px;
  }
  .board-row #zero{
    border: none;
    border-right: 12px solid #2e3436 ;
    border-bottom: 12px solid #2e3436 ;

  }

  .board-row #one{
    border-top: none;
  }  

  .board-row #two{
    border-top: none;
    border-right: none;
  }

  .board-row #three{
    border-left: none ;
  }

  .board-row #five{
    border-right: none;
  }

  .board-row #six{
    border-left: none;
    border-bottom: none;
  }

  .board-row #seven{
    border-bottom: none;
  }
  .board-row #eight{
    border-bottom: none;
    border-right: none;
  }


  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #14bdac;
    border: 12px solid #2e3436;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 180px;
    width: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    font-size: 100px;
    text-align: center;
    
  }
  
  .square:focus {
    outline: none;
  }
  

  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    border: 1px solid black; 
  }

  .game-board{

  }
  
  .game-info {
    
  }
  